<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User Workout Plans</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/indexstyle.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <!-- Include jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div th:replace="navbar :: navbar"></div>
<div id="workoutPlans">
    <div class="main_container">
        <!-- Loop through workout plans and populate description divs -->
        <div class="container" th:each="workoutPlan : ${workoutPlans}">
            <ul class="whats_on_site">
                <img src="/css/imgs/barbell.png" class="barbell">
                <h2 th:text="${workoutPlan.getWorkout_plan_name()}"></h2>
                <div class="description">
                    <ul>
                        <li th:each="exercise : ${#strings.arraySplit(workoutPlan.getWorkout_plan(), ',')}">
                            <span th:text="${exercise}"></span>
                        </li>
                    </ul>
                </div>
                <!-- Use consistent ID selector for the button -->
                <button class="deleteWorkoutPlanBtn" th:attr="data-workout-plan-id=${workoutPlan.getId_workout_plan()}">Delete</button>
                <button class="editWorkoutPlanBtn" th:attr="data-workout-plan-id=${workoutPlan.getId_workout_plan()}">Edit</button>
            </ul>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/userWorkoutPlans.js" type="text/javascript"></script>
</body>
</html>
