* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
body {
    background: white;
}

#searchButton {
    background:#0099ff;
    color:white;
    padding:10px 20px;
    border-radius:0 10px 10px 0;
    -moz-border-radius:0 10px 10px 0;
    -webkit-border-radius:0 10px 10px 0;
    -o-border-radius:0 10px 10px 0;
    border:0 none;
    font-weight:bold;
}
#searchInput {
    background: #eee;
    padding:10px;
    border-radius:10px 0 0 10px;
    -moz-border-radius:10px 0 0 10px;
    -webkit-border-radius:10px 0 0 10px;
    -o-border-radius:10px 0 0 10px;
    border:0 none;
    width:160px;
}

.logo {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

input[type="radio"] {
    background-color: transparent;
    border: .0625em solid rgb(0,0,0);
    border-radius: 50%;
    box-shadow: inset 0 0 0 0 white;
    cursor: pointer;
    font: inherit;
    height: 1em;
    outline: none;
    width: 1em;
    -moz-appearance: none;
    -webkit-appearance: none;
    &:checked {
        background-color: black;
        box-shadow: inset 0 0 0 .1875em pink;
        -webkit-transition: background .15s, box-shadow .1s;
        transition: background .15s, box-shadow .1s;
    }
}

.navbar {
    background: #9ab2d4;
    color: white;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: black 0px 0px 10px 0px;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    padding: 0 50px;
    margin: 0 auto;
    max-width: 1300px;
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar_item {
    height: 80px;
    display: flex;
    align-items: center;
}

.navbar_link {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0.1rem 0.8rem;
    height: 80%;
    border: 2px solid white;
    border-radius: 20px;

}

.navbar_link:hover {
    color: lightpink;
    transition: all 0.3s ease;
}

.navbar_list {
    display: flex;
}

.navbar_list .navbar_item:not(:last-child) {
    margin-right: 20px;
}
.exerciseClicked {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    padding: 12px 24px;
    background: #2e61ab;
    border: white solid 2px;
    color: #fff;
    line-height: 1.15;
    font-size: 16px;
    :hover {
        transition: all .1s ease;
        box-shadow: 0 0 0 0 #fff, 0 0 0 3px lightpink;
    }
}
.exerciseNotClicked {
    display: inline-block;
    outline: none;
    border: white solid 2px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    padding: 12px 24px;
    color: #fff;
    background: #9ab2d4;
    line-height: 1.15;
    font-size: 16px;
    :hover {
        transition: all .1s ease;
        background-color: lightpink;
        box-shadow: 0 0 0 0 pink, 0 0 0 3px lightpink;
    }
}

.yourExercises {
    width: 250px;
    padding: 30px;
    text-align: right;
}
#submitButton {
    margin-top: 20px;
    background-color: #0099ff;
    color: white;
    border: white 2px solid;
    border-radius: 20px;
    font-weight: bold;
    padding: 20px 40px;
}
#submitButton:hover {
    color:lightpink;
    transition: all .1s ease;
}

.container {
    display: flex;
    justify-content: space-between; /* Align items to left, center, and right */
    padding-top: 30px;
    padding-right: 30px;
}

.exerciseNames {
    padding-top: 50px;
    padding-left: 130px;
    padding-right: 130px;

}

.listOfExercises {
    width: 30%; /* Adjust as needed */
    margin-left:10%;
}

.listOfExercises_display {
    flex: 1; /* Take remaining space */
    padding: 30px;
}

#exerciseNames {
    text-align: left; /* Align exercise names to the left */
    width: 40%;
}

.btn_under_exercises {
    text-align: right; /* Align buttons to the right */
}

#nextPage, #previousPage {
    background-color: #0099ff;
    color: white;
    border: white 2px solid;
    border-radius: 20px;
    font-weight: bold;
    padding: 10px 20px;
}
#nextPage:hover, #previousPage:hover {
    color:lightpink;
    transition: all .1s ease;
}