<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise Names</title>
    <link rel="stylesheet" href="/css/exercises.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <div class="yourExercises">

    </div>
    <button id="submitButton" style="display: none">Submit workout plan</button>
    <div class="listOfExercises">
        <h1>Exercise Names</h1>
        <input type="text" id="searchInput" placeholder="Search for exercise...">
        <button id="searchButton">Search</button>
        <div id="exerciseNames"></div>
        <button id="previousPage" style="display: none;">Previous exercises</button>
        <button id="nextPage" style="display: none;">Next exercises</button>
        <div id="muscleRadioButtons"></div>
    </div>
</div>
<script src="/js/exercises.js"></script>
</body>
</html>
