    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>User Information Form</title>
    </head>
    <body>
    <form action="/user/info" method="post">
        <label for="age">Age:</label>
        <input type="number" id="age" name="age"><br>

        <label for="gender">Gender:</label>
        <select id="gender" name="appUserGender">
            <option value="MALE">Male</option>
            <option value="FEMALE">Female</option>
        </select><br>

        <label for="activity_level">Activity Level:</label>
        <select id="activity_level" name="activityLevel">
            <option value="SEDENTARY">Sedentary</option>
            <option value="LIGHTLY_ACTIVE">Lightly Active</option>
            <option value="MODERATELY_ACTIVE">Moderately Active</option>
            <option value="VERY_ACTIVE">Very Active</option>
            <option value="SUPER_ACTIVE">Super Active</option>
        </select><br>
        <label for="goal">Goal:</label>
        <select id="goal" name="activityLevel">
            <option value="LOSE_WEIGHT">Lose weight</option>
            <option value="MAINTAIN_WEIGHT">Maintain Weight</option>
            <option value="GAIN_WEIGHT">Gain Weight</option>
        </select><br>

        <label for="height">Height (cm):</label>
        <input type="number" id="height" name="height"><br>

        <label for="weight">Weight (kg):</label>
        <input type="number" id="weight" name="weight"><br>

        <input type="submit" value="Submit">
    </form>
    </body>
    </html>
